/* COLORS */
$raven: #15181E;
$chalkboard: #fed45f2f;
$gold: #FED45F;
$tulip: #DBA9CE;
$gold_faded: #fed45f94;

/* FONTS */
$serif_main: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

/* TAILWIND CUSTOM COMPONENTS*/